{% extends "base.html" %}

{% block content %}
<h2>Log in to add blogs!</h2>
<p>If you don't have an account, Click <a href="/register">Create Account</a>!!!</p>
<form action="/login" method="post">
    <table>
        <tr>
            <td>
                <!-- <label for="email">Email</label> -->
                <label for="username">Username</label>
            </td>
            <td>
                <input name="username" type="username" value="{{ username }}">
                <!-- <input name="email" type="email" value="{{ email }}"> -->
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
{% endblock %}
